<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:fragment="head">
		<link th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" rel="stylesheet"/>
		<script th:src="@{/webjars/bootstrap/4.3.1/dist/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
		<script th:src="@{/webjars/popper.js/1.15.0/dist/umd/popper.min.js}"></script>
		<meta charset="UTF-8">
		<title>GBF Rando</title>
	</head>
	<body>
		<div>
			<span class="alert alert-warning"><a th:href="@{/charaForm}">Add a Character</a></span>
		</div>
		<div class="mt-3">
			<span class="alert alert-warning"><a th:href="@{/rando/fire}">Fire</a></span>
			<span class="alert alert-warning"><a th:href="@{/rando/water}">Water</a></span>
			<span class="alert alert-warning"><a th:href="@{/rando/earth}">Earth</a></span>
			<span class="alert alert-warning"><a th:href="@{/rando/wind}">Wind</a></span>
			<span class="alert alert-warning"><a th:href="@{/rando/light}">Light</a></span>
			<span class="alert alert-warning"><a th:href="@{/rando/dark}">Dark</a></span>
		</div>
	</body>
</html>