<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="index::head"></head>
	<body>
		<div>
			<form th:action="@{/addChara}" th:object="${chara}" method="post" enctype="multipart/form-data">
			<input type="file" name="getPic" accept="image/png, image/jpeg"/>
			<input type="text" th:field="*{name}" placeholder="Character name" required/>
			<select th:field="*{element}">
				<option value="Light">Light</option>
				<option value="Fire">Fire</option>
				<option value="Water">Water</option>
				<option value="Earth">Earth</option>
				<option value="Wind">Wind</option>
				<option value="Dark">Dark</option>
				<option value="All">All</option>
			</select>
			<select th:field="*{rarity}">
				<option value="SSR">SSR</option>
				<option value="SR">SR</option>
				<option value="R">R</option>
			</select>
			<input type="text" th:field="*{version}" placeholder="Limited? Summer? Xmas?"/>
			<button type="submit">Valider</button>
			</form>
		</div>
		<div>
			<form method="post" action="/logout" id="form-logout">
	    		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>        
	    		<button type="submit">Logout</button>
			</form>
		</div>
	</body>
</html>