<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<link th:href="@{/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css}" rel="stylesheet"/>
		<script th:src="@{/webjars/bootstrap/4.3.1/dist/js/bootstrap.js}"></script>
		<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
		<script th:src="@{/webjars/popper.js/1.15.0/dist/umd/popper.min.js}"></script>
		<meta charset="UTF-8">
		<title>GBF Rando</title>
	</head>
	<body>
	<span th:each="chara: ${charas}">
		<span th:text="${chara[0]}"></span>
		<img th:src="${chara[1]}">
	</span>
	</body>
</html>